.weatherApp {
  border: 3px solid #66bfbf;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fcfefe;
}

#weather,
#localButton,
.card {
  font-family: "Mochiy Pop One", sans-serif;
}

#weather,
.citySearch {
  color: #f76b8a;
}

#weather {
  text-align: left;
  padding-top: 3px;
  font-size: 26px;
  padding-left: 21px;
}

.citySearch,
.code {
  font-family: "Caveat", cursive;
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 20px;
}

#localButton {
  background-color: #66bfbf;
  color: #fcfefe;
  margin-top: 12px;
  margin-left: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px dotted #eaf6f6;
  transition: 1s;
}

#localButton:hover {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  border: 1px dotted #66bfbf;
}

#icon {
  position: fixed;
  top: 65px;
  right: 146px;
}

.citySearch {
  padding: 10px;
  position: relative;
  top: -6px;
  left: 22px;
  text-indent: 70px;
  font-size: 21px;
}
.description {
  padding-left: 0px;
}

.card {
  display: block;
  margin: 0 auto;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  position: relative;
  bottom: 30px;
  color: #fcfefe;
  font-size: 13px;
}

#date {
  font-size: 17px;
}
.btn-search {
  background-color: #66bfbf;
  color: #fcfefe;
  border: 1px solid #eaf6f6;
  padding: 3px 14px;
  box-shadow: 3px 4px 5px #fcfefe;
  transition: 1s;
}

.btn-search:hover {
  background-color: #fcfefe;
  color: #66bfbf;
}

.code {
  display: block;
  margin: auto 0;
  text-align: center;
}
